<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="footer">
    <script type="text/javascript" th:src="@{/js/main.js}"/>
    <div class="visible-xs-block mark" th:if="${authorized}">
        Logged in as: <span th:text="${userDisplayName}"></span>
    </div>
    <div>
    &copy; 2016 Footer
    </div>
</div>
</body>
</html>