<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Webcam Viewer</a>
        </div>
        <div style="float:right;" class="hidden-xs mark" th:if="${authorized}">
            <div class="nav-item">
                Logged in as: <span th:text="${userDisplayName}"></span>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:href="@{/browse}">Browse</a></li>
                <li th:if="${authorized}"><a href="#" th:href="@{/authorize}">Authorize</a></li>
                <li th:if="${authorized}"><a href="#" th:href="@{/user}">User Data</a></li>
                <li th:if="${!authorized}"> <a href="/login">Login</a></li>
                <li th:if="${authorized}"><a href="#" onclick="logout()">Logout</a></li>
            </ul>
        </div>

    </div>
    <form id="logout" method="post" th:action="@{/logout}" role="form" style="display:none;"></form>
    <script>
        function logout(){
            console.log("[debug] logout");
            $("#logout").submit();
            return true;
        }
    </script>
</div>
</body>
</html>