<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/scripts :: headFragment">
    <title>CheckIn - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header">
    <h1>Header</h1>
</div>

<div id="content" class="max-800 min-300 align-center">
    <div class="container-fluid">
        <div class="row-fluid" th:if="${not #strings.isEmpty(authorizedUser)}">
            <div class="span12">
                <div>User <span th:text="${authorizedUser}">user id</span> was authorized!</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <form id="authorizeForm" method="get" th:action="@{/authUser}" role="form" >
                    <input type="text" name="userId" role="form-control"/>
                    <a href="#" class="btn btn-success btn-lg}" onclick="authorize()" role="button" >Authorize</a>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <span>Authorized Users: </span>
                <ul class="list-inline">
                    <li th:each="aUser : ${authorizedUsers}" th:text="${aUser}">Item 1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
    <h1>Footer</h1>
</div>
</body>
</html>
