<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/scripts :: headFragment">
    <title>CheckIn - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header">
    <h1>Header</h1>
</div>

<div id="content" class="max-800 min-300 align-center">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="align-center max-300 datePickerContainer">
                    <form id="fetch-form" method="post" th:object="${rangeForm}" th:action="@{/browse}" role="form">
                        <div id="daterangepicker" class="input-daterange input-group " >
                            <input type="text" class="input-sm form-control" name="start" th:field="*{start}"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="end" th:field="*{end}"/>
                        </div>
                        <a href="#" class="btn btn-success btn-lg datePickerButton" role="button" onclick="filterVideos()">Fetch Videos</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table  class="table table-hover" data-toggle="table">
                    <thead>
                    <th data-field="title">&nbsp;</th>
                    <th data-field="dateTime">DateTime</th>
                    <th data-field="filename">Filename</th>
                    <th data-field="url">Url</th>
                    </thead>
                    <tbody>
                    <th:block th:each="video : ${videoList}">
                        <tr>
                            <td th:text="${video.title}">title</td>
                            <td th:text="${video.dateTime}">19-AUG-2016'</td>
                            <td th:text="${video.filename}">10.0'</td>
                            <td><ul class="list-group">
                                <li class="list-group-item" th:unless="${#strings.isEmpty(video.url)}">
                                    <a href="#" th:href="${video.url}" th:text="${video.url}" class="xsmall oneLineText">url</a>
                                </li>
                            </ul></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
    <h1>Footer</h1>
</div>
</body>
</html>
