<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/scripts :: headFragment">
    <title>CheckIn - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header">
    <h1>Header</h1>
</div>

<div id="content" class="max-800 min-300 align-center">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="embed-responsive embed-responsive-16by9 align-center">
                <video id="mainPlayer" controls="controls" class="embed-responsive-item">
                    <source src="movie.mp4" th:src="${startVideo.url}" type="video/mp4"/>
                    Your browser does not support the video tag.
                </video>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="align-center max-300 datePickerContainer">
                    <form id="fetch-form" method="post" th:object="${rangeForm}" th:action="@{/}" role="form">
                    <div id="daterangepicker" class="input-daterange input-group " >
                        <input type="text" class="input-sm form-control" name="start" th:field="*{start}"/>
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" th:field="*{end}"/>
                    </div>
                    <a href="#" class="btn btn-success btn-lg datePickerButton" role="button" onclick="filterVideos()">Fetch Videos</a>
                    </form>
                </div>
            </div>
        </div>

        <div th:each="videoChunks : ${T(org.apache.commons.collections4.ListUtils).partition(videoList, 6)}" class="row-fluid">
            <a class="span2" href="#" onclick="loadVideo(this)" th:each="video,status : ${videoChunks}" th:object="${video}">
                <div class="panel panel-default ">
                    <div class="panel-heading" th:text="${video.title}">Panel Heading</div>
                    <div class="panel-body">
                        <span class="xsmall filename oneLineText" th:text="${video.filename}">filename</span>
                        <span class="xxsmall datetime oneLineText" th:text="${video.dateTime}">datetime</span>
                        <span class="xsmall size oneLineText" th:text="${'size:' + video.sizeAsString}">121</span>
                        <span class="xxsmall url oneLineText" style="display:none" th:text="${video.url}">url</span>
                        <span class="xxsmall" style="display:none" th:text="${status.index}">1</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="hidden-phone row-fluid">
            <div id="clock" class="span12" >
                <canvas id="clock-canvas" width="300" height="300" class="align-center" style="background-color:#fff"></canvas>
                <script type="text/javascript" th:src="@{/js/clock.js}"/>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
    <h1>Footer</h1>
</div>
</body>
</html>
